@import "~react-image-gallery/styles/css/image-gallery.css";

h1 {
  font-size: max(5vw, 6.75vh);
  font-weight: bolder;
  color: rgb(36, 0, 0);
  letter-spacing: 0.275vw;
  text-shadow: 0.2vh 0.2vh 0.3vh #70423c;
}
h3 {
  font-size: max(2vw, 2.5vh);
}
.header {
  position: relative;
  padding-top: 3vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  left: 0;
  top: 10%;
  width: 100%;
}
.carousel {
  height: min(50vh, 60vw);
  position: relative;
  left: 0;
  width: 100%;
}
.footer {
  position: relative;
  font-size: max(1.12vw, 1.9vh);
  padding: 3vh;
  bottom: 0;
  width: 60vw;
  margin: 0 auto;
}
.intro {
  position: relative;
  font-size: max(1.12vw, 1.9vh);
  padding-bottom: 4vh;
  color: rgb(255, 109, 109);
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 60vw;
}
a {
  color: rgb(175, 6, 6);
}
.image-gallery-image {
  image-orientation: from-image;
  height: min(50vh, 60vw);
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
}

.image-gallery-description {
  background: rgba(255, 255, 255, 0.5);
  font-size: min(1.25vw, 2vh);
  color: white;
  position: absolute;
  overflow: auto;
  right: 0;
  left: 0;
  bottom: 0px;
  width: auto;
  margin: 0 auto;
  width: 30vw;
  max-height: 15vh;
}
.image-gallery-slide.image-gallery-description {
  bottom: 0px;
}
.image-gallery-thumbnail-image {
  max-height: 8vh;
  max-width: 10vh;
  overflow: hidden;
}
.image-gallery-thumbnail-label {
  box-sizing: border-box;
  left: 50%;
  background: rgba(22, 21, 21, 0.5);
  color: white;
  font-size: max(1.1vw, 1.2vh);
  left: 0;
  text-shadow: 0px 0px 0 black;
  overflow: hidden;
}
.image-gallery-thumbnails {
  padding-top: 7vh;
}
.main {
  width: 100%;
  text-align: center;
  position: absolute;
}
.alertText {
  font-size: max(1.12vw, 1.9vh);
}
.Alert {
  width: 40%;
  left: 30%;
  text-align: center;
  position: relative;
  padding-top: 7vh;
  padding-bottom: 0.75vh;
}
.btn {
  font-size: max(1.12vw, 1.9vh);
  height: min(7.98vw, 4.8vh);
  overflow: hidden;
  position: relative;
  padding: 0px;
}
.form-control {
  font-size: max(1.12vw, 1.9vh);
  height: min(8vw, 5vh);
  position: relative;
}
.custom-file {
  font-size: max(1.12vw, 1.9vh);
  height: min(8vw, 5vh);
  overflow: hidden;
  position: relative;
}
.custom-file-label {
  font-size: max(1.12vw, 1.9vh);
  overflow: hidden;
}
